html, body{
    height: 100%;
    margin:0;
}

h1{
    background-color: rgb(163, 163, 163);
    margin-bottom:0;
    margin-top:0;
    text-align: center;
    height:200px;
}

.navbar ul{
    list-style-type: none;
    background-color: rgb(56,56,56);
    padding:0px;
    margin-top: 0;
    margin-bottom:0;
    text-align: center;
}
.navbar a{
    color:white;
    text-decoration: none;
    padding: 15px;
    display:block;
}
.navbar a:hover{
    background-color: rgb(26,26,26);
}
.navbar li{
    display:inline-block;
}

/*
- "display:flex" and "flex-direction: column" allows this div's children to stack on each other vertically
- "column" is used since navbar and header are part of its children
- if "row" is used instead, then "contentRow" will be separate from this div and be next to each other
*/
#backgroundBody{
    background-color: rgb(216,216,216);
    width:900px;
    min-height:100vh;
    margin:auto;
    display:flex;
    flex-direction: column;
}

/*
- "display:flex" allows this div's children to stack on each other horizontally
- "flex:1" allows this div to fill the remaining space to the bottom
*/
#contentRow{
    display:flex;
    flex:1;
}

#mainBodyOne{
    background-color: rgb(143, 139, 139);
    width:250px;
}

/*
- "flex:1" allows this div to fill the remaining space to the right
*/
#mainBodyTwo{
    background-color: rgb(230,230,230);
    flex: 1;
}